#nav1 {
    height: 10vh;
    background-image: url("./images/banner.jpg");
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    align-items: center;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    position: relative;
    z-index: 1;
}

#icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
}

#img1 {
    width: 40px;
    height: 40px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically align items */
    gap: 3vw; /* Space between links */
    padding-left: 2vw;
    font-size: 1.2em;
    color: rgb(166, 142, 245);
}

h4 {
    margin: 0; /* Remove margin from h4 */
}

h4 a {
    padding-left: 0; /* Remove left padding */
    text-decoration: none;
    font-size: 1em;
    color: rgb(68, 36, 173);
    transition: color 0.3s ease, transform 0.3s ease; /* Apply smooth transitions */
    line-height: 1.2; /* Set line height for consistent spacing */
}

h4 a:hover {
    color: rgb(254, 148, 9);
    text-decoration-line: underline;
    text-decoration-color: #4e21f2;
    font-weight: bold;
    transform: scale(1.1); /* Scale text smoothly */
}

.active-link {
    color: rgb(254, 148, 9);
    text-decoration-line: underline;
    text-decoration-color: #4e21f2;
    font-weight: bold;
    transform: scale(1.1); /* Ensure active link scales consistently */
}
